
{% extends 'base.html.twig' %}
{% block title %}Synthese!{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <h2>Synthese</h2>
        <hr>
        <br>

        <div class="alert alert-secondary" role="alert">
            <h6><i class="fa fa-circle" aria-hidden="true" style="color:#00cc6a"></i> Tâche effectuée</h6>
            <h6><i class="fa fa-circle" aria-hidden="true" style="color:#FA031A"></i> Tâche non effectuée</h6>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
                    <div class="py-1 text-center">
                        <table class="table display nowrap" style="width:100%" id="table_id">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th>Intervenant</th>
                                    <th>Titre</th>
                                    <th>Description</th>
                                    <th>Date de début</th>
                                    <th>Date de fin</th>
                                    <th>Entreprise</th>
                                    <th>Pointe de vente</th>
                                    <th>Formulaire</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for val in rendezVous %}
                                    {% if val.effectuer == 1 %}
                                        <tr class="table-success">
                                        <th scope="row"><i class="fa fa-circle" aria-hidden="true" style="color:#00cc6a"></i></th>
                                    {% else %}
                                        <tr class="table-danger">
                                        <th scope="row"><i class="fa fa-circle" aria-hidden="true" style="color:#FA031A"></i></th>
                                    {% endif %}
                                        <td>{{ val.intervenant ? val.intervenant.lastname : '' }}</td>
                                        <td>{{ val.title }}</td>
                                        <td>{{ val.description }}</td>
                                        <td>{{ val.start ? val.start|date('Y-m-d H:i') : '' }}</td>
                                        <td>{{ val.end ? val.end|date('Y-m-d H:i') : '' }}</td>
                                        <td>{{ val.entreprise ? val.entreprise.formeJuridique : '' }}</td>
                                        <td>{{ val.pointeVente ? val.pointeVente.libelle : '' }}</td>
                                        <td>{{ val.formulaire ? val.formulaire.libelle : '' }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="10"></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready( function () {
        $(function() {
            $('.js-multiple').select2({
                placeholder: 'Choisir'
            });
        });

        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });

    $(document).ready(function() {
        $('#table_id').DataTable( {
            "scrollY": 200,
            "scrollX": true,
            responsive: true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/fr_fr.json"
            }
        } );
    } );

</script>
{% endblock %}