<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Application{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="AKHAMAL ALAE EDDINE">
            <meta name="generator" content="0.0.0">
            <title>Application</title>
            <!-- Bootstrap core CSS -->
            <!-- <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"> -->
            <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/offcanvas.css') }}" rel="stylesheet">
            <link href="{{ asset('fullcalendar/css/main.min.css') }}" rel="stylesheet">
            <link href="{{ asset('dataDable/css/buttons.dataTables.min.css') }}" rel="stylesheet">
            <link href="{{ asset('dataDable/css/jquery.dataTables.min.css') }}" rel="stylesheet">
            <link href="{{ asset('select2/css/select2.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <style>
                .bd-placeholder-img {
                    font-size: 1.125rem;
                    text-anchor: middle;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    user-select: none;
                }

                @media (min-width: 768px) {
                    .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                    }
                }
            </style>
            <!-- Custom styles for this template -->
            <link href="{{ asset('css/offcanvas.css')}}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <nav class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" style="background-color: #317AC1;" aria-label="Main navigation">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('app_home') }}"><i class="fa fa-home" aria-hidden="true"></i></a>
                    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% for keyMenuCategorie, valueMenuCategorie in menus['menuCategorie'] %}
                                {% if (valueMenuCategorie.access in app.user.roles) %}
                                    {% if (valueMenuCategorie.url == null or valueMenuCategorie.url == '') %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="dropdown"~valueMenuCategorie data-bs-toggle="dropdown" aria-expanded="false">
                                                {% if valueMenuCategorie.icone %}
                                                    <i class="{{valueMenuCategorie.icone}}" aria-hidden="true"></i>
                                                {% endif %}{{ valueMenuCategorie.Libelle }}
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown"~valueMenuCategorie>
                                                {% for keyMenuSousCategorie, valueMenuSousCategorie in menus['menuSousCategorie'] %}
                                                    {% if valueMenuSousCategorie.menuCategorie == valueMenuCategorie and (valueMenuSousCategorie.access in app.user.roles) %}
                                                        <li>
                                                            <a class="dropdown-item" href="{{ path(valueMenuSousCategorie.url) }}">
                                                                <i class="{{valueMenuSousCategorie.icone}}" aria-hidden="true"></i>
                                                                {{ valueMenuSousCategorie.Libelle }}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link"
                                                {% if valueMenuCategorie.url %}
                                                    href="{{ path(valueMenuCategorie.url) }}"
                                                {% endif %}>
                                                {% if valueMenuCategorie.url %}
                                                    <i class="{{valueMenuCategorie.icone}}" aria-hidden="true"></i>
                                                {% endif %}{{ valueMenuCategorie.Libelle }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>

                        <li class="nav-item dropdown">
                            <a class="btn btn-dark" href="">
                                <i class="fa fa-user-circle-o" aria-hidden="true">  {{ app.user.firstname }} {{ app.user.lastname }}</i>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="btn btn-dark" href="{{ path('app_logout') }}">
                               <i class="fa fa-sign-out fa-1x" aria-hidden="true"></i>
                            </a>
                        </li>


                    </div>
                </div>
            </nav>
        </nav>
        {% endblock %}
        {% block content %}{% endblock %}
            <script src="{{ asset('fullcalendar/js/main.min.js') }}"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('js/offcanvas.js') }}"></script>
            <script src="{{ asset('dataDable/js/jquery-3.5.1.js') }}"></script>
            <script src="{{ asset('dataDable/js/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('dataDable/js/dataTables.buttons.min.js') }}"></script>
            <script src="{{ asset('dataDable/js/jszip.min.js') }}"></script>
            <script src="{{ asset('dataDable/js/pdfmake.min.js') }}"></script>
            <script src="{{ asset('dataDable/js/buttons.print.min.js') }}"></script>
            <script src="{{ asset('dataDable/js/buttons.html5.min.js') }}"></script>
            <script src="{{ asset('dataDable/js/vfs_fonts.js') }}"></script>
            <script src="{{ asset('select2/js/select2.js') }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>

            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>  -->

            <script>

            </script>
        {% block javascript %}{% endblock %}
    </body>
</html>

