
{% extends 'base.html.twig' %}
{% block title %}Formulaire!{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block content %}
<div class="container">
    <br>
        <br>
        {{ form_start(registrationForm) }}
        <div class="row">
            <h4>Nouveau Intervenant</h4>
            <hr>
            <div class="col-6">
                {{ form_start(registrationForm) }}
                </br>
                {{ form_row(registrationForm.email) }}
                </br>
                {{ form_row(registrationForm.lastname) }}
                </br>
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                <br>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-lg btn-success btn-block">Valider</button>
                </div>
                </br>
            </div>
        </div>
        <hr>
        {{ form_end(registrationForm) }}
        <br>
        <br>
</div>

{% endblock %}
{% block javascript %}
<script>
    $(function() {
        $('.js-multiple').select2({
            placeholder: 'Choisir'
        });
    });
    $('#sandbox-container input').datepicker({
        todayBtn: "linked",
        format: "mm/dd/yyyy",
        language: "fr"
    });
</script>
{% endblock %}