
{% extends 'base.html.twig' %}
{% block title %}Entreprises!{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <br>
        {{ form_start(form) }}
        <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="entreprises-tab" data-bs-toggle="tab" data-bs-target="#entreprises" type="button" role="tab" aria-controls="entreprises" aria-selected="true">
                    Entreprises
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pointventes-tab" data-bs-toggle="tab" data-bs-target="#pointventes" type="button" role="tab" aria-controls="pointventes" aria-selected="false">
                    Point ventes
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="produits-tab" data-bs-toggle="tab" data-bs-target="#produits" type="button" role="tab" aria-controls="produits" aria-selected="false">
                    Produits
                </button>
            </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="entreprises" role="tabpanel" aria-labelledby="entreprises-tab">
                    <div class="row">
                        <div class="col-6">
                            <br>
                            <h4>Renseignements juridiques</h4>
                            <hr>
                            {{ form_row(form.dateCreationEntreprise) }}
                            <br>
                            {{ form_row(form.nomsCommerciaux) }}
                            <br>
                            {{ form_row(form.formeJuridique) }}
                        </div>
                        <div class="col-6">
                            <br>
                            <h4>Numéros d'identification</h4>
                            <hr>
                            {{ form_row(form.numeroSIREN) }}
                            <br>
                            {{ form_row(form.NumeroSIRET) }}
                            <br>
                            {{ form_row(form.numerosRCS) }}
                        </div>
                        <div class="col-6">
                            <br>
                            <h4>Informations juridiques</h4>
                            <hr>
                            {{ form_row(form.dateImmatriculationRCS) }}
                            <br>
                            {{ form_row(form.dateEnregistrementINSEE) }}
                            <br>
                            {{ form_row(form.capitalSocial) }}
                            <br>
                        </div>
                        <div class="col-6">
                            <br>
                            <h4>Adresse de l'entreprise</h4>
                            <hr>
                            {{ form_row(form.region) }}
                            <br>
                            {{ form_row(form.departement) }}
                            <br>
                            {{ form_row(form.ville) }}
                            <br>
                            {{ form_row(form.adresse) }}
                            <br>
                            {{ form_row(form.complementAdresse) }}
                            <br>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pointventes" role="tabpanel" aria-labelledby="pointventes-tab">
                    <div class="col-12">
                        <br>
                        {# render each row and field in the embedded form, in this example it's rendering the experience (Exp) fiels as rows #}
                        <div id="pointVentes_list" data-index="{{ form.pointVentes|length > 0 ? form.pointVentes|last.vars.name + 1 : 0 }}"
                            data-prototype="{{ form_widget(form.pointVentes.vars.prototype)|e('html_attr') }}">
                            {% set indice = 0 %}
                            <div class="row">
                                {% for row in form.pointVentes %}
                                    {% set functionTypeChacked = 'myFunctionType(' ~ indice ~ ')' %}
                                    {% set indice = indice + 1 %}
                                    <div class="col-4">
                                    <div class="liste_pointVentes_accordion" id="accordionExamplepointVentes{{ indice }}">
                                        <div class="accordion" id="accordionExamplepointVentes{{ indice }}">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingOnepointVentes{{ indice }}">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnepointVentes{{ indice }}" aria-expanded="false" aria-controls="collapseOnepointVentes{{ indice }}">
                                                    <div>
                                                        {% if row.vars.value.id matches '/^\\d+$/' %}
                                                            <strong>
                                                                <a class="btn btn" href="{{ path('configuration_espace', {'id': row.vars.value.id}) }}" aria-label="configuration_espace">
                                                                    <i class="fa fa-tasks" aria-hidden="true"></i>
                                                                </a>
                                                                {{ row.vars.value.libelle }}
                                                            </strong>
                                                        {% endif %}
                                                    </div>
                                                </button>
                                                </h2>
                                                <div id="collapseOnepointVentes{{ indice }}" class="accordion-collapse collapse" aria-labelledby="headingOnepointVentes{{ indice }}" data-bs-parent="#accordionExamplepointVentes{{ indice }}">
                                                    <div class="accordion-body">
                                                            <div class="panel panel-warning">
                                                                <div class="panel-body">
                                                                    {{ form_row(row.libelle) }}
                                                                    <br>
                                                                    {{ form_row(row.region, {'attr': {'onchange': functionTypeChacked } }) }}
                                                                    <br>
                                                                    {{ form_row(row.departement) }}
                                                                    <br>
                                                                    {{ form_row(row.ville) }}
                                                                    <br>
                                                                    {{ form_row(row.adresse) }}
                                                                    <br>
                                                                    {{ form_row(row.complementAdresse) }}
                                                                    <br>
                                                                    {{ form_row(row.status) }}
                                                                    <br>
                                                                    <hr>
                                                                    <br>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="produits" role="tabpanel" aria-labelledby="produits-tab">
                    <div class="col-12">
                        <br>
                        {# render each row and field in the embedded form, in this example it's rendering the experience (Exp) fiels as rows #}
                        <div id="produits_list" data-index="{{ form.produits|length > 0 ? form.produits|last.vars.name + 1 : 0 }}"
                            data-prototype="{{ form_widget(form.produits.vars.prototype)|e('html_attr') }}">
                            {% set indice = 0 %}
                            <div class="row">
                                {% for row in form.produits %}
                                    {% set indice = indice + 1 %}
                                    <div class="col-6">
                                        <div class="liste_produits_accordion" id="accordionExample{{ indice }}">
                                            <div class="accordion" id="accordionExample{{ indice }}">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne{{ indice }}">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ indice }}" aria-expanded="false" aria-controls="collapseOne{{ indice }}">
                                                        <div>
                                                            <strong>
                                                                {{ row.vars.value.name }}
                                                            </strong>
                                                        </div>
                                                    </button>
                                                    </h2>
                                                    <div id="collapseOne{{ indice }}" class="accordion-collapse collapse" aria-labelledby="headingOne{{ indice }}" data-bs-parent="#accordionExample{{ indice }}">
                                                        <div class="accordion-body">
                                                                <div class="panel panel-warning">
                                                                    <div class="panel-body">
                                                                        {{ form_row(row.name) }}
                                                                        <br>
                                                                        {{ form_row(row.categories) }}
                                                                        <br>
                                                                        {{ form_row(row.status) }}
                                                                        <br>
                                                                        <hr>
                                                                        <br>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {{ form_row(form.save) }}
        {{ form_end(form) }}
        <br>
        <br>
    </div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/entreprises_embedded_form.js') }}"></script>
<script>

    $(document).on('change', '#entreprise_region, #entreprise_departement', function () {
        let $field = $(this)
        let $regionField = $('#entreprise_region')
        let $form = $field.closest('form')
        let target = '#' + $field.attr('id').replace('departement', 'ville').replace('region', 'departement')
        // Les données à envoyer en Ajax
        let data = {}
        data[$regionField.attr('name')] = $regionField.val()
        data[$field.attr('name')] = $field.val()
        // On soumet les données
        $.post($form.attr('action'), data).then(function (data) {
            // On récupère le nouveau <select>
            let $input = $(data).find(target)
            // On remplace notre <select> actuel
            $(target).replaceWith($input)
        })
    })


    function myFunctionType(indice) {
       $(document).on('change', '#entreprise_pointVentes_'+indice+'_region, #entreprise_pointVentes_'+indice+'_departement', function () {
        console.log(indice);
            let $field = $(this)
            let $regionField = $("#entreprise_pointVentes_"+indice+"_region")
            let $form = $field.closest('form')
            let target = '#' + $field.attr('id').replace('departement', 'ville').replace('region', 'departement')
            // Les données à envoyer en Ajax
            let data = {}
            data[$regionField.attr('name')] = $regionField.val()
            data[$field.attr('name')] = $field.val()
            // On soumet les données
        console.log(data);
            $.post($form.attr('action'), data).then(function (data) {
                // On récupère le nouveau <select>
                let $input = $(data).find(target)
                // On remplace notre <select> actuel
                $(target).replaceWith($input)
            })
        })
    }

    $(document).ready( function () {
        //$('#table_id').DataTable();
        $(function() {
        $('.js-multiple').select2({
            placeholder: 'Choisir'
        });
        });
        $('#sandbox-container input').datepicker({
            todayBtn: "linked",
            format: "mm/dd/yy",
            language: "fr"
        });
        $('#table_id').DataTable( {
            responsive: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/fr_fr.json"
            }
        } );

    });
</script>
{% endblock %}