
{% extends 'base.html.twig' %}
{% block title %}Formulaire!{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <br>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-6">
                <h2>Référentiels</h2>
                <hr>
                {{ form_row(form.libelle) }}
                <br>
                {{ form_row(form.description) }}
                <br>
                {{ form_row(form.status) }}
            </div>
            <div class="col-6">
                <h2>Options du référentiels</h2>
                <hr>
                <br>
                {# render each row and field in the embedded form, in this example it's rendering the experience (Exp) fiels as rows #}
                <div id="exp_list" data-index="{{ form.referentielsOptions|length > 0 ? form.referentielsOptions|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ form_widget(form.referentielsOptions.vars.prototype)|e('html_attr') }}">
                    {% for row in form.referentielsOptions %}
                        <br>
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div ALIGN="CENTER">
                                    <strong>{{ row.vars.value.libelle }}</strong>
                                </div>
                            </div>
                            <div class="panel-body">
                                {{ form_row(row.libelle) }}
                                <br>
                                {{ form_row(row.description) }}
                                <br>
                                {{ form_row(row.status) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        {{ form_row(form.save) }}
        {{ form_end(form) }}
        <br>
        <br>
    </div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/referentiels_embedded_form.js') }}"></script>
<script>
    $(document).ready( function () {
        //$('#table_id').DataTable();
        $('#table_id').DataTable( {
            responsive: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/fr_fr.json"
            }
        } );

    });
</script>
{% endblock %}