
{% extends 'base.html.twig' %}
{% block title %}Formulaire!{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <h2>Référentiels
        <a class="btn btn-outline-success pull-right" href="{{ path('add_referentiels', {'id': 0}) }}" aria-label="add" title="formulaire">
            <i class="fa fa-plus-square-o" aria-hidden="true"></i> Ajouter un nouveau référentiels
        </a>
        </h2>
        <hr>
        <br>
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Date création</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for referentiel in referentiels %}
                <tr>
                    <td>{{ referentiel.libelle }}</td>
                    <td>{{ referentiel.description }}</td>
                    <td><small>{{ referentiel.dateCreation ? referentiel.dateCreation|date('Y-m-d H:i') : '' }}</small></td>
                    <td><small>{% if referentiel.status == 1 %}<span class="badge bg-danger text-dark">Inactif</span>{% else %}<span class="badge bg-warning text-dark">Actif</span>{% endif %} </small></td>
                    <td>
                        <a class="btn btn-success" href="{{ path('add_referentiels', {'id': referentiel.id}) }}" aria-label="edit" title="jjjj">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-danger" href="" aria-label="delet">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready( function () {
        //$('#table_id').DataTable();
        $('#table_id').DataTable( {
            responsive: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/fr_fr.json"
            }
        } );

    });
</script>
{% endblock %}