
{% extends 'base.html.twig' %}
{% block title %}Formulaire!{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <h2>Gestion des utilisateurs </h2>
        <hr>
        <br>
        <div class="row">
            <div class="col-4">
                <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
                        {{ form_start(registrationForm) }}
                        </br>
                        {{ form_row(registrationForm.email) }}
                        </br>
                        {{ form_row(registrationForm.firstname) }}
                        </br>
                        {{ form_row(registrationForm.lastname) }}
                        </br>
                        {{ form_row(registrationForm.roles) }}
                        </br>
                        {{ form_row(registrationForm.groupe) }}
                        </br>
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        <br>
                        <button type="submit" class="btn btn-primary btn-block">Valider</button>
                        </br>
                        {{ form_end(registrationForm) }}
                </div>
            </div>
            <div class="col-8">
                <div class="d-flex flex-ligne flex-shrink-0 p-3 bg-light">
                    <table id="table_id" class="display">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Groupes</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for intervenant in intervenants %}
                            <tr>
                                <td>{{ intervenant.lastname }}</td>
                                <td>{{ intervenant.email }}</td>
                                <td>
                                    {% if intervenant.roles[0] == "ROLE_GESTIONNAIRE" %}
                                        Gestionnaire
                                    {% endif %}
                                    {% if intervenant.roles[0] == "ROLE_USER" %}
                                        Intervenant
                                    {% endif %}
                                    {% if intervenant.roles[0] == "ROLE_ADMIN" %}
                                        Administrateur
                                    {% endif %}
                                </td>
                                <td>
                                    {% for group in intervenant.groupe %}
                                        <span class="badge rounded-pill bg-primary">{{ group.libelle }}</span>
                                    {% endfor %}
                                </td>
                                <td>
                                    <a class="btn btn-danger" href="{{ path('delete_intervenant', {'id': intervenant.id}) }}" aria-label="delet">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<div class="col-8">
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script>
     $(document).ready( function () {
        //$('#table_id').DataTable();
        $('#table_id').DataTable( {
            responsive: true,
            "scrollY": 200,
            "scrollX": true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/fr_fr.json"
            }
        } );
    });

    $(function() {
        $('.js-multiple').select2({
            placeholder: 'Choisir ...'
        });
    });
    $('#sandbox-container input').datepicker({
        todayBtn: "linked",
        format: "mm/dd/yyyy",
        language: "fr"
    });
</script>
{% endblock %}