
{% extends 'base.html.twig' %}
{% block title %}Rendez-vous effectué!{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <h2>Rendez-vous effectué</h2>
        <hr>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-ligne flex-shrink-0 p-3 bg-light">
                    <table id="table_id" class="display">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Description</th>
                                <th>Date de début</th>
                                <th>Date de fin</th>
                                <th>Entreprise</th>
                                <th>Pointe de vente</th>
                                <th>Formulaire</th>
                                <th>Intervenant</th>
                                <th>Effectuer</th>
                                <th>Utilisateur créateur</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for val in rendezVous %}
                            <tr>
                                <td>{{ val.title }}</td>
                                <td>{{ val.description }}</td>
                                <td>{{ val.start ? val.start|date('Y-m-d H:i') : '' }}</td>
                                <td>{{ val.end ? val.end|date('Y-m-d H:i') : '' }}</td>
                                <td>{{ val.entreprise ? val.entreprise.formeJuridique : '' }}</td>
                                <td>{{ val.pointeVente ? val.pointeVente.libelle : '' }}</td>
                                <td>{{ val.formulaire ? val.formulaire.libelle : '' }}</td>
                                <td>{{ val.intervenant ? val.intervenant.lastname : '' }}</td>
                                <td>{{ val.effectuer }}</td>
                                <td>{{ val.userCreateur ? val.userCreateur.lastname : '' }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-8">
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script>

    $(document).ready( function () {
        //$('#table_id').DataTable();
        $('#table_id').DataTable( {
            responsive: true,
            "scrollY": 200,
            "scrollX": true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/fr_fr.json"
            }
        } );

    });
</script>
{% endblock %}