{% extends 'base.html.twig' %}
{% block title %}Formulaire!{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block content %}
<div class="container">
    <br>
        <br>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-6">
                <h4>Formulaire</h4>
                <hr>
                {{ form_row(form.libelle) }}
                <br>
                {{ form_row(form.description) }}
                <br>
                {{ form_row(form.intervenants) }}
                <br>
                {{ form_row(form.entreprises) }}
                <br>
                {{ form_row(form.dateDebut) }}
                <br>
                {{ form_row(form.dateFin) }}
                <br>
                {{ form_row(form.status) }}
            </div>
            <div class="col-6">
                <h4>Champs formulaire</h4>
                <hr>
                {# render each row and field in the embedded form, in this example it's rendering the experience (Exp) fiels as rows #}
                <div id="exp_list" data-index="{{ form.champFormulaire|length > 0 ? form.champFormulaire|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ form_widget(form.champFormulaire.vars.prototype)|e('html_attr') }}">
                    {% for row in form.champFormulaire %}
                        <br>
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div ALIGN="CENTER">
                                    <strong>{{ row.vars.value.libelle }}</strong>
                                </div>
                            </div>
                            <div class="panel-body">
                                {{ form_row(row.libelle) }}
                                <br>
                                {{ form_row(row.description) }}
                                <br>
                                {{ form_row(row.type) }}
                                <br>
                                <div id="tags" data-prototype="{{ form_widget(row.options.vars.prototype)|e('html_attr') }}">
                                </div>
                                <br>
                                {{ form_row(row.ordre) }}
                                <br>
                                {{ form_row(row.status) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        {{ form_row(form.save) }}
        {{ form_end(form) }}
        <br>
        <br>
</div>

{% endblock %}
{% block javascript %}
<script src="{{ asset('js/formulaires_embedded_form.js') }}"></script>
<script>
    var selected = [];
    for (var option of document.getElementById('formulaire_entreprises').options)
    {
        if (option.selected) {
            selected.push(option.value);
        }
    }
    getProduitsFormulaires(selected);

    $("select#formulaire_entreprises").change(function(){
        //console.log($(this).val());
        var selected = [];
        for (var option of document.getElementById('formulaire_entreprises').options)
        {
            if (option.selected) {
                selected.push(option.value);
            }
        }
        getProduitsFormulaires(selected);
    });

    function getProduitsFormulaires(selected) {
        var idEntreprises = selected;
        $.ajax({
            //L'URL de la requête 
            url: "{{ path('getProduitsFormulairesOptions') }}",
            //La méthode d'envoi (type de requête)
            method: "GET",
            data: {'idEntreprises':idEntreprises},
            beforeSend: function () {
                //Code à jouer avant l'appel ajax en lui même
                var htmlSpinner = '<center><i class="fa fa-spinner fa-pulse" style="font-size:200px;color:Gray;"></i></center>'; 
                $('.modal-body').html(htmlSpinner);
            }
        })
        .done(function(response){
            console.log(response['listeProduits']);
			$('#formulaire_produits').html(response['listeProduits']);
        })
        .fail(function(error){
            alert("La requête s'est terminée en échec.");
        })
    }


    $(function() {
        $('.js-multiple').select2({
            placeholder: 'Choisir ...',
        });
    });

    $(document).ready(function() {
        $(document).on("click", ".select2-results__group", function(){
            var groupName = $(this).html()
            var options = $('#formulaire_intervenants option');
            $.each(options, function(key, value){
                if($(value)[0].parentElement.label.indexOf(groupName) >= 0){
                    if ($(value).prop("selected") == true) {
                        $(value).prop("selected", false);
                    }
                    else{
                        $(value).prop("selected","selected");
                    }
                }
            });

            $('.js-multiple').trigger("change");
            $('.js-multiple').select2('close');
        });
    });


    $('#sandbox-container input').datepicker({
        todayBtn: "linked",
        format: "mm/dd/yyyy",
        language: "fr"
    });
</script>
{% endblock %}